.container .btyui  {
    display: flex;
    flex-direction: column;
}
.btyui input {
    width: 70%;
    margin-top: 50px;
    outline: none;
    padding: 10px 8px;
}
.btyui button {
    margin-top: 50px;
    padding: 8px 8px;
}
#result{
    margin-top: 50px;
    color: red;
}